body {
  background-color: oldlace;
}

#homePage {
  background-color: lightcoral;
  margin-top: 15%;
  /* border: solid 50px; */
  border-radius: 5px;
}

label {
  font-size: xx-large;
}

.form-group {
  margin-top: 1%;
}

.info {
  font-size: larger;
}

.links {
  margin-bottom: 2%;
}

/* SURVEY PAGE */

#surveyPage {
  border-right: lightcoral solid 100px;
  border-left: lightcoral solid 100px;
}
