body {
  background-color: oldlace;
}

#homePage {
  background-color: lightblue;
  margin-top: 15%;
  border: rgb(5, 171, 226) solid 50px;
}

label {
  font-size: xx-large;
}

.form-group {
  margin-top: 1%;
}

.info {
  font-size: larger;
}

.links {
  margin-bottom: 2%;
}
